asgiref==3.2.7
astroid==2.3.3
autopep8==1.5
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cryptography==2.9
dj-database-url==0.5.0
Django==3.0.5
django-adminlte3==0.1.2
django-storages==1.9.1
gunicorn==20.0.4
idna==2.9
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
Pillow==7.1.1
psycopg2==2.8.4
pycodestyle==2.5.0
pycparser==2.20
pylint==2.4.4
python-dateutil==2.8.1
python-decouple==3.3
pytz==2019.3
requests==2.23.0
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.8
wrapt==1.11.2
