{% extends 'lapangan/base.html' %}
{% load static %}


{% block title %}
Home | UYI Futsal
{% endblock title %}

{% block css %}
<style>
    .navbar {
        background-color: #6f7782;
    }

    footer.page-footer {
        background-color: #6f7782;
    }
</style>
{% endblock css %}

{% block body %}


<!--Main Navigation-->
<header>

    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/"><strong>UYI Futsal</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Jadwal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Promo</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>
<!--Main Navigation-->

<!--Main Layout-->
<main>

    <div class="container">

        <!--Section: Blog v.4-->
        <section class="section mt-5 pb-3 wow fadeIn">

            <!--Grid row-->
            <div class="row">
                <div class="col-md-12">
                    <!-- Card -->
                    <div class="card card-cascade wider reverse">

                        <!-- Card image -->
                        <div class="view view-cascade overlay">
                            <img class="card-img-top" src="{{ lapangan.gambar.url }}" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Post data-->
                        <div class="card-body card-body-cascade text-center">
                            <h2><a><strong>{{ lapangan.nama }}</strong></a></h2>
                            <br>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3 orange-text pb-1">
                                        <h6><i class="fas fa-sun"></i> 08.00 - 18.00<strong> Rp 80.000
                                            </strong>
                                        </h6>
                                    </div>
                                    <div class="col-md-6 brown-text pb-1">
                                        <h6><i class="fas fa-moon"></i> 18.00 - 00.00<strong> Rp 120.000
                                            </strong>
                                        </h6>
                                    </div>
                                    <div class="col-md-3 green-text pb-1">
                                        <h6><i class="fas fa-flag"></i><strong> Rumput Sintesis
                                            </strong>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Post data-->
                    </div><br>
                    <hr class="mb-5">
                    <h5>Jadwal</h5>
                    <div class="md-form">
                        <input placeholder="Selected date" type="text" id="prefill" class="form-control datepicker"
                            data-value="now">
                        <label for="prefill"></label>
                    </div>
                    <p>Filter:</p>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="checkFilter">
                        <label class="custom-control-label" for="checkFilter">Hanya yang tersedia</label>
                    </div>
                    <hr>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Jam</th>
                                <th scope="col">Harga</th>
                                <th scope="col">Status</th>
                                <th scope="col">Booking</th>
                            </tr>
                        </thead>
                        <tbody class="searchable" id="mytable">
                            <!-- <tr>
                                <th scope="row">08.00 - 09.00</th>
                                <td>cek</td>
                                <td><span class="badge badge-primary">Tersedia</span></td>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                                        <label class="custom-control-label" for="defaultUnchecked"></label>
                                    </div>
                                </td>
                            </tr> -->
                            <!-- 
                            <tr>
                                <th scope="row">09.00 - 10.00</th>
                                <td>cek</td>
                                <td><span class="badge badge-danger">Tidak Tersedia</span></td>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"
                                            id="defaultUncheckedDisabled2" disabled>
                                        <label class="custom-control-label" for="defaultUncheckedDisabled2"></label>
                                    </div>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>

                    <!-- bayar -->
                    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header text-center">
                                    <h4 class="modal-title w-100 font-weight-bold">Informasi Pembayaran</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body mx-3">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Waktu</th>
                                                <th scope="col">Harga</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Jacob</td>
                                                <td>Thornton</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Larry</td>
                                                <td>the Bird</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- <div class="md-form mb-5">
                                        <strong>
                                            <h4>Lapangan: </h5>
                                        </strong>
                                    </div>
                                    <div class="md-form mb-5">
                                        <strong>
                                            <h4>Waktu: </h5>
                                        </strong>
                                    </div>
                                    <div class="md-form mb-4">
                                        <strong>
                                            <h4>Total: </h5>
                                        </strong>
                                    </div> -->

                                </div>
                                <div class="modal-footer d-flex justify-content-center">
                                    <button class="btn btn-primary">Bayar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <a href="" class="btn btn-primary btn-rounded mb-4" data-toggle="modal"
                            data-target="#modalLoginForm">Pembayaran</a>
                    </div>

                    <!-- bayar -->
                </div>
            </div>
            <!--Grid row-->

        </section>
        <!--Section: Blog v.4-->

        <hr class="mb-5 mt-4">

</main>
<!--Main Layout-->


<!--Footer-->

<!--/.Footer-->


{% block js %}
<script>
    var cek;
    $(document).ready(() => {

        $('#prefill').pickadate({
            min: true,
        });
        var dateValue = moment($('.datepicker').val()).format('YYYY-MM-DD');
        console.log(dateValue);
        $.ajax({
            type: 'get',
            url: '/get-jadwal/',
            dataType: 'JSON',
            data: { tgl: dateValue },
            success: data => {
                cek = data;
                console.log(data);
                // setDataTable(data);
            }
        });

        $.ajax({
            type: 'get',
            url: '/get-waktu/',
            dataType: 'JSON',
            success: waktuVal => {
                console.log(waktuVal);
                setDataTable(waktuVal);
            }
        });



        $('.datepicker').on('change', function () {
            dateValue = moment($('.datepicker').val()).format('YYYY-MM-DD');
            console.clear();
            console.log(dateValue);
            $.ajax({
                type: 'get',
                url: '/get-jadwal/',
                dataType: 'JSON',
                data: { tgl: dateValue },
                success: data => {
                    cek = data;
                    console.log(data);
                }
            });
            $.ajax({
                type: 'get',
                url: '/get-waktu/',
                dataType: 'JSON',
                success: waktuVal => {
                    clearTable()
                    console.log(waktuVal);
                    setDataTable(waktuVal);
                }
            });

        });

    });

    $('#checkFilter').on('change', function () {

        if (this.checked) {
            $('.searchable tr').hide();
            $('.searchable tr').filter(function () {
                return $(this).find('td').eq(1).text() == "Tersedia"
            }).show();
        } else {
            $('.searchable tr').show();
        }
    });

    function getHarga(id) {
        if (id == 1) {
            harga = '80.000'
        } else {
            harga = '120.000'
        }
        return harga
    }
    function setDataTable(data) {
        if (cek.length == 0) {
            data.forEach(element => {
                $('#mytable').append(`<tr>
                                <th scope="row">${element.waktu}</th>
                                <td>${getHarga(element.harga_id)}</td>
                                <td><span class="badge badge-primary">Tersedia</span></td>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="${element.id}">
                                        <label class="custom-control-label" for="${element.id}"></label>
                                    </div>
                                </td>
                            </tr>`)
            }
            )
        } else {
            for (let index = 0; index < cek.length; index++) {
                data.forEach(element => {
                    if (element.id == cek[index].waktu_id) {
                        $('#mytable').append(`<tr>
                                <th scope="row">${element.waktu}</th>
                                <td>${getHarga(element.harga_id)}</td>
                                <td><span class="badge badge-danger">Tidak Tersedia</span></td>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="${element.id}">
                                        <label class="custom-control-label" for="${element.id}"></label>
                                    </div>
                                </td>
                            </tr>`)
                    } else {
                        $('#mytable').append(`<tr>
                                <th scope="row">${element.waktu}</th>
                                <td>${getHarga(element.harga_id)}</td>
                                <td><span class="badge badge-primary">Tersedia</span></td>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="${element.id}">
                                        <label class="custom-control-label" for="${element.id}"></label>
                                    </div>
                                </td>
                            </tr>`)
                    }
                });
            }
        }

    }

    function clearTable() {
        $('#mytable').empty();
    }
</script>
{% endblock js %}



{% endblock body %}