{% load static %}
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a target="_blank" href="/" class="b-brand">
                    <div class="b-bg">
                        <img src="{% static 'image/uyi.png' %}" alt="sample image"
                                class="avatar rounded-circle" width="32">
                    </div>
                    <span class="b-title">UYI Futsal {% if user.is_admin %}Admin{% endif %}</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Dashboard</label>
                    </li>
                    
                    {% if user.is_active and user.is_staff %}
                        
                    <li class="nav-item {% if request.resolver_match.url_name == 'index' %}active{% endif %}">
                        <a href="{% url 'sadmin:index' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Home</span></a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'users' %}active{% endif %}">
                        <a href="{% url 'sadmin:users' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-users"></i></span><span class="pcoded-mtext">Pengguna</span></a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'bookingan' %}active{% endif %}"><a href="{% url 'sadmin:bookingan' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-clock"></i></span><span class="pcoded-mtext">Bookingan</span></a></li>
                    <li class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">Authentication</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/auth-reset-pass.html" class="">Reset Pass</a></li>
                            <li class=""><a href="#" class="">Register</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item {% if request.resolver_match.url_name == 'index' %}active{% endif %}">
                        <a href="{% url 'sadmin:index' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Home</span></a>
                    </li>
                    {% endif %}
                    <li data-username="Disabled Menu" class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link">
                            <span class="pcoded-micon">
                                <i class="feather icon-power"></i>
                            </span>
                            <span class="pcoded-mtext">Logout - [ {{ request.user.username }} ]</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
